{% extends "vidboard/base.html" %} {% block title %} WhiteBoard {% endblock %} {% load static %} {% block body %}


<main class="">
    <section class="container">
        
        <h1>Modules</h1>
        
        {% for ck, course in vids.items %}
            <h4 class="caps">{{ course.courseName }} - {{ course.courseCode }}</h4>
            <div class="vid_row">
                {% for vk, vid in course.ve.items %}
                <div class="vid_box">
                    <a href="{% url 'watch' vid.id %}"><img src="{{ vid.thumbnail }}" alt=""></a>
                    <h6 class="vid_title">{{ vid.title }}</h6>
                    <hr>
                    <div class="vid_subs">{{ vid.desc|truncatewords:10 }}</div>
                </div>
                {% endfor %}
            </div>
            </div>
        {% endfor %}
    </section>
    <!-- <section class="container">
        <div id="addhere" class="vid_row">
        </div>
    </section> -->
</main>
<script>
    let data;
    
    
    fetch('api/videos/', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        },
        // body: JSON.stringify(data)
    })
    .then((res) => res.json())
    .then((data) => {
        console.log(data)
        let ele = document.getElementById('addhere')
        let vidObj = [];
        data.forEach(function(vid){
            vidObj.push(vid);
        });
        vidObj.forEach(function(vids){
            console.log(vids)
            ele.innerHTML += `<div class="vid_box">
                <a href="${ vids.id }"><img src="${ vids.thumbnail }" alt=""></a>
                <div>${ vids.title }</div>
            </div>`
        });
    })
    
</script>
{% endblock %}