{% extends "vidboard/base.html" %} {% block title %} WhiteBoard {% endblock %} {% load static %} {% block body %}


<main class="">
    <section class="container">
        {% for item in video %}
        <div class="watch_content">
            <video src="{{ item.video.url }}" type="video/mp4" controls autoplay></video>
            <h6 class="vid_title caps">{{ item.title }}</h6>
            <hr align="left">
            <div class="vid_subs">{{ item.desc|truncatewords:10 }}</div>
        </div>
        {% endfor %}
        
    </section>
</main>

{% endblock %}