$black: #000;
$white: #fff;

$main: $black;
$main2: $white;

// White colour gradients
$w1: #111;
$w2: #222;
$w3: #333;
$w4: #444;
$w5: #555;
$w6: #666;
$w7: #777;
$w8: #888;
$w9: #999;
$wa: #aaa;
$wb: #bbb;
$wc: #ccc;
$wd: #ddd;
$we: #eee;


// Social media colours
$twitter: #1da1f3;
$fb: #3b5999;
$linkedin: #0174b2;
$goog: #dc4f42;
