

.site-footer {
  background-color: #26272b;
  padding: 15px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  flex-shrink: 0;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.copyright-text {
  float: right;
  margin: 0;
}
.container h1 {
  font-weight: 600;
  letter-spacing: 0.06em;
}